.display_glass{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.client_holder{
    display: block;
    position: relative;
    top: 30px;
    /* right: 30px; */
    left: 30px;
    height: 70vh; 
    width: 300px;
    background-color: rgb(49, 48, 48);
}

.azyo_container{
    /* margin: 10px; */
    padding: 10px;
    display: flex;
    position: absolute;
    height:100%;
    width:100%;
    background-color: grey;
    flex-direction: column;
    /* flex-wrap: nowrap; */
    /* justify-content: center; */
    /* align-content: center; */
    align-items: center;
}

.azyo_title {
    /* top: 30px; */
    /* position: absolute; */
    display: flex;
    align-items: center;
    height: 10%;
    font-weight: bolder;
    font-size: 32px;
    /* text-align:; */
}

.azyo_content {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 18px;
    height: 100%;
    background-color: rgb(37, 37, 37);
    flex-wrap: wrap;
    align-content: center;
}

.azyo_start_button {
    display: flex;
    align-items: center;
    height: 10%;
    /* bottom: 80px; */
    /* position: absolute; */
    font-weight: bolder;
    font-size: 32px;
}

.azyo_video_container {
    margin: 0px auto;
	/* width: 100%;
	height: 100%; */
    width: 100%;
	height: 40%;
	border: 10px #333 solid;
}

.azyo_videoElement {
	width: 100%;
	height: 100%;
	background-color: #666;
}

.azyo_instructions {
    /* display: flex;
    align-items: center;
    text-align: center; */
    font-size: 18;
    color: white;
    padding:15px;
}