.azyo-modal-dialog {
    height: 80%;
}

.azyo-modal-content{
    height: 80%;
}

.modal-body {
    /* 100% = dialog height, 120px = header + footer */
    max-height: calc(100% - 120px);
    overflow-y: auto;
}

.azyo-modal-header{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.azyo-close {
    position: absolute;
    top: 10px;
    right: 10px;
}

.azyo-moal-footer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.azyo-cc {
    padding-top: 4px;
    margin: 0px;
    font-size: 11px;
    opacity: 40%;
}

.azyo-modal-body-title {
    text-align: center;
    margin-bottom: 20px;
}

.azyo_video_container {
    margin: 0px auto;
	/* width: 100%;
	height: 100%; */
    /* width: 80%;
	height: 40%; */
    max-width: 65%;
	/* border: 10px #333 solid;
    background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.azyo_videoElement {
	width: 100%;
	height: 100%;
    border-radius: 10px;
	/* background-color: rgb(90, 69, 69); */
}

.azyo-instr {
    padding: 10px;
}

.azyo-selfie-guide{
    position: absolute;
    height: 70%;
    width: 70%;
}



/* flipcart */

.flip-card {
    background-color: transparent;
    width: 370px;
    height: 250px;
    perspective: 1000px;
  } 

  .flip-card-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 1s;
      transform-style: preserve-3d;
  }

  .flip-card-front, .flip-card-back {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
  }

  .flip-card-back {
      transform: rotateY(180deg);
  }

  .flip-card-inner.is-flipped {
    transform: rotateY(180deg);
  }

 @media only screen and (max-width: 768px) {
    #frontImage{
      width:100% !important;
      height: 100%  !important;
    }
    input[type=range]{
      display:none;
    }
 }


.progress.active .progress-bar {
    -webkit-transition: none !important;
    transition: none !important;
}

.res_img_holder {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* background-color: green; */
    margin: 10px;
    padding: 10px;
    justify-content: space-between;
}

#img1 {
    display: flex;
    max-width: 50%;
}

#img2 {
    display: flex;
    min-width: 37%;
    right: 0px;
    justify-content: flex-end;
}

.res_holder {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#azyo_res {
    font-weight: bold;
    /* Green */
}
